.btn {
    font-size: 1.1rem;
    padding: 0.35rem;
    border-radius: 0.5rem;
    background-color: rgb(79, 78, 77);
    width: 95%;
    cursor: pointer;
    border: none;
}
.btn:hover {
    box-shadow: 0 2px 8px rgb(79, 78, 77);
    transition: all 0.2s ease;
}