.container {
    border: 2px solid #777;
    width: 96.5%;
    height: 110px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    padding-left: 1rem;
    font-size: 0.9rem;
}

.uppercase {
    text-transform: uppercase;
}

.color {
    color: rgba(209, 209, 209, 0.884);
}

.main {
    width: 40%;
}

.secundary {
    width: 40%;
    display: flex;
}

.add {
    font-size: 1.5rem;
    height: 40%;
    width: 2.5rem;
    margin: auto;
    border-radius: 0.5rem;
    border: none;
    background-color: #22c738;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.addNone {
    font-size: 1.5rem;
    height: 40%;
    width: 2.5rem;
    margin: auto;
    border-radius: 0.5rem;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(79, 78, 77);
}

.none {
    display: none;
}

.remove {
    font-size: 1.5rem;
    height: 40%;
    width: 2.5rem;
    margin: auto;
    border-radius: 0.5rem;
    border: none;
    background-color: #f04040;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.text {
    margin: auto;
}